<nav class="nav-extended">
  <div class="categories-wrapper grey lighten-1">
    <div class="categories-container">
      <ul class="categories container createPageList">
        <li data-name="authority"><a href="#authority">Authority</a></li>
        <li data-name="clergy"><a href="#clergy">Clergy</a></li>
        <li data-name="merchant"><a href="#merchant">Merchant</a></li>
        <li data-name="military"><a href="#military">Military</a></li>
        <li data-name="nobility"><a href="#nobility">Nobility</a></li>
        <li data-name="peasantry"><a href="#peasantry">Peasantry</a></li>
        <li data-name="royal"><a href="#royal">Royal</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">


{{!-- ========================= Carousel bellow ================================================== --}}

    {{!-- carousel items generate here --}}
    {{!-- <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a> --}}


  <div id="carouselDiv" class="carousel">
    <a class="carousel-item" href="#one!" ><img src=""></a>
  </div>

{{!-- <!-- <form> --> --}}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fas fa-user-edit"></i>Name</div>
            <div class="collapsible-body"><span><input type="text" name="name"></span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-user-plus"></i>Age</div>
            <div class="collapsible-body"><span><input type="text" name="age"></span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-user-check"></i>Personality</div>
            <div class="collapsible-body"><span>


                    {{!-- <!-- POSITIVE TRAITS --> --}}
                <div class="p-container">
                    <div class="row">
                        <ul class="positive-traits">
                            <li><input type="checkbox" class="filled-in" id="adventurous">
                            <label for="adventurous">Adventurous</label></li>

                            <li><input type="checkbox" class="filled-in" id="affable">
                            <label for="affable">Affable</label></li>

                            <li><input type="checkbox" class="filled-in" id="capable">
                            <label for="capable">Capable</label></li>

                            <li><input type="checkbox" class="filled-in" id="charming">
                            <label for="charming">Charming</label></li>

                            <li><input type="checkbox" class="filled-in" id="confident">
                            <label for="confident">Confident</label></li>

                            <li><input type="checkbox" class="filled-in" id="conscientious">
                            <label for="conscientious">Conscientious</label></li>

                            <li><input type="checkbox" class="filled-in" id="cultured">
                            <label for="cultured">Cultured</label></li>

                            <li><input type="checkbox" class="filled-in" id="dependable">
                            <label for="dependable">Dependable</label></li>

                            <li><input type="checkbox" class="filled-in" id="discreet">
                            <label for="discreet">Discreet</label></li>

                            <li><input type="checkbox" class="filled-in" id="dutiful">
                            <label for="dutiful">Dutiful</label></li>

                            <li><input type="checkbox" class="filled-in" id="encouraging">
                            <label for="encouraging">Encouraging</label></li>

                            <li><input type="checkbox" class="filled-in" id="fearless">
                            <label for="fearless">Fearless</label></li>

                            <li><input type="checkbox" class="filled-in" id="gregarious">
                            <label for="gregarious">Gregarious</label></li>
                        </ul>

                        <ul class="positive-traits">
                            <li><input type="checkbox" class="filled-in" id="helpful">
                            <label for="helpful">Helpful</label></li>

                            <li><input type="checkbox" class="filled-in" id="humble">
                            <label for="humble">Humble</label></li>

                            <li><input type="checkbox" class="filled-in" id="imaginative">
                            <label for="imaginative">Imaginative</label></li>

                            <li><input type="checkbox" class="filled-in" id="independent">
                            <label for="independent">Independent</label></li>

                            <li><input type="checkbox" class="filled-in" id="meticulous">
                            <label for="meticulous">Meticulous</label></li>

                            <li><input type="checkbox" class="filled-in" id="observant">
                            <label for="observant">Observant</label></li>

                            <li><input type="checkbox" class="filled-in" id="optimistic">
                            <label for="optimistic">Optimistic</label></li>

                            <li><input type="checkbox" class="filled-in" id="persistent">
                            <label for="persistent">Persistent</label></li>

                            <li><input type="checkbox" class="filled-in" id="precise">
                            <label for="precise">Precise</label></li>

                            <li><input type="checkbox" class="filled-in" id="reliable">
                            <label for="reliable">Reliable</label></li>

                            <li><input type="checkbox" class="filled-in" id="sociable">
                            <label for="sociable">Sociable</label></li>

                            <li><input type="checkbox" class="filled-in" id="trusting">
                            <label for="trusting">Trusting</label></li>

                            <li><input type="checkbox" class="filled-in" id="valiant">
                            <label for="valiant">Valiant</label></li>
                        </ul>

                        {{!-- <!-- NEGATIVE TRAITS --> --}}
                        <ul class="negative-traits">
                            <li><input type="checkbox" class="filled-in checkbox-red" id="arrogant">
                            <label for="arrogant">Arrogant</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="boorish">
                            <label for="boorish">Boorish</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="bossy">
                            <label for="bossy">Bossy</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="conceited">
                            <label for="conceited">Conceited</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="cowardly">
                            <label for="cowardly">Cowardly</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="dishonest">
                            <label for="dishonest">Dishonest</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="finicky">
                            <label for="finicky">Finicky</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="impulsive">
                            <label for="impulsive">Impulsive</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="lazy">
                            <label for="lazy">Lazy</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="maticious">
                            <label for="maticious">Maticious</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="obnoxious">
                            <label for="obnoxious">Obnoxious</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="picky">
                            <label for="picky">Picky</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="pompous">
                            <label for="pompous">Pompous</label></li>
                        </ul>

                        <ul class="negative-traits">
                            <li><input type="checkbox" class="filled-in checkbox-red" id="quarrelsome">
                            <label for="quarrelsome">Quarrelsome</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="rude">
                            <label for="rude">Rude</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="sarcastic">
                            <label for="sarcastic">Sarcastic</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="self-centered">
                            <label for="self-centered">Self-centered</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="slovenly">
                            <label for="slovenly">Slovenly</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="sneaky">
                            <label for="sneaky">Sneaky</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="stingy">
                            <label for="stingy">Stingy</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="sullen">
                            <label for="sullen">Sullen</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="surly">
                            <label for="surly">Surly</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="thoughtless">
                            <label for="thoughtless">Thoughtless</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="unfriendly">
                            <label for="unfriendly">Unfriendly</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="unruly">
                            <label for="unruly">Unruly</label></li>

                            <li><input type="checkbox" class="filled-in checkbox-red" id="vulgar">
                            <label for="vulgar">Vulgar</label></li>
                        </ul>
                    </div>
                </div>

            </span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-user-edit"></i>Backstory</div>
            <div class="collapsible-body"><span><input type="text" name="backstory"></span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fas fa-user-edit"></i>Character Details (Optional)</p></div>
            <div class="collapsible-body"><span><input type="text" name="charDetails"></span></div>
        </li>
    </ul>
</div>
{{!-- <!-- </form> --> --}}

