@font-face {
    font-family: Enchanted Land;
    src: url("/fonts/medieval/Enchanted Land.otf");
  }

body {
    margin: 0;
    padding: 0;
}

    #slide-out {
        text-align: center;
        background-color: rgb(124, 124, 124);
        color: white;

        width: 220px;
        padding-top: 42px;
    }
        .brand-logo {
            text-align: center;   
        }
        .app-name {
            color: rgb(255, 255, 255);
            font-family: Enchanted Land;
            font-size: 70px;
            margin-top: 100px;
        }
        #nav-create-btn {
            color: white;
            font-size: 20px;
            margin-top: 50px;
        }
        #nav-view-all-btn {
            color: white;
            font-size: 20px;
            margin-top: 20px;
        }
        #nav-view-btn {
            color: white;
            font-size: 20px;
            margin-top: 20px;
        }

    .carousel .carousel-item {
        visibility: visible;
        height: 350px;
        width: 350px;;
        text-align: center;
        border: 5px solid black;

        transition: ease-in-out 0s;
    }
    
        #carouselDiv{
            margin-top: -50px;
            height: 550px;
        }
        .imgTitle {
            color: black;
            font-size: 50px;
            text-align: center;

            font-family: Enchanted Land;
        }


    #create-page-wrapper .container {
        text-align: center;
        height: 100%;
    }

    .create-form {
        margin-left: 18%;
        margin-right: 18%;
    }
        .collapsible-header {
            height: 55px;
            font-size: 22px;
            text-align: left;

            /* margin-left: 25%;
            margin-right: 25%; */
        }
        #submit-button {
            height: 42px;
            margin: 10px;
            float: right;
            font-size: 25px;
            font-weight: bold;
        }


    #create-page-wrapper .nav-extended {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
        .positive-traits {
            float: left;
            margin-left: 2.5vw;
            text-align: left;
        }
        .negative-traits {
            float: left;
            margin-left: 2.5vw;
            text-align: left;
        }
            .checkbox-red[type="checkbox"].filled-in:checked + label:after{
                border: 2px solid #f50057;
                background-color: #f50057;
            }

    #royal-tab {
        color: white;
        padding-bottom: -10PX;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #authority-tab {
        color: white;
        padding-bottom: -10PX;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #nobility-tab {
        color: white;
        padding-bottom: -10PX;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #military-tab {
        color: white;
        padding-bottom: -10PX;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #clergy-tab {
        color: white;
        padding-bottom: -10PX;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #merchant-tab {
        color: white;
        padding-bottom: -10PX;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #peasantry-tab {
        color: white;
        padding-bottom: -10PX;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .tooltip {
        width: 50%;
    }