
body {
    margin: 0;
    padding: 0;
    background-color: royalblue;
}
.positive-traits {
    float: left;
    margin-left: 2.5vw;
    text-align: left;
}
.negative-traits {
    float: left;
    margin-left: 2.5vw;
    text-align: left;
}
.checkbox-red[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #f50057;
    background-color: #f50057;
}
.collapsible-header {
    height: 55px;
    font-size: 25px;
    text-align: left;
}
#royal-tab {
    background-color: black;
    color: #ff00ff;
}
#authority-tab {
    background-color: black;
    color: #42a4ff;
}
#nobility-tab {
    background-color: black;
    color: white;
}
#military-tab {
    background-color: black;
    color: #f50057;
}
#clergy-tab {
    background-color: black;
    color: #ffe600;
}
#merchant-tab {
    background-color: black;
    color: #ca8e56;
}
#peasantry-tab {
    background-color: black;
    color: #00ff00;
}

.container {
    text-align: center;
    width: 50%;
}
.p-container {
    margin-top: 20px;
}
