.nav-extended {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.authority:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 red, 0 6px 20px 0 red;
}
.clergy:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 yellow, 0 6px 20px 0 yellow;
}
.merchant:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 green, 0 6px 20px 0 green;
}
.military:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 tan, 0 6px 20px 0 tan;
}
.nobility:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 aqua, 0 6px 20px 0 aqua;
}
.peasantry:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 blue, 0 6px 20px 0 blue;
}
.royal:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 purple, 0 6px 20px 0 purple;
} 

#all-view {
    color: white;
    font-size: 25px;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;}
#royal-view {
    color: white;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;}
#authority-view {
    color: white;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;}
#nobility-view {
    color: white;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;}
#military-view {
    color: white;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;}
#clergy-view {
    color: white;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;}
#merchant-view {
    color: white;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;}
#peasantry-view {
    color: white;
    padding-bottom: -10PX;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;}

.categories-wrapper .categories-container .menuIcon {
    margin-top: 16px;
    margin-left: 25px;
}

.viewAllContainer {
    margin-top: 20px;
}
